* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22d1ee;
}

.amount-input {
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 0.25rem;
  width: 200px;
  font-size: 1.5rem;
}
.currency-select {
  padding: 0.25rem;
  outline: none;
  font-size: 1.5rem;
}

.equal-sign {
  font-size: 3rem;
  font-weight: 500;
}
